$color-primary: #65000b;
$color-secondary: #f8a412;
$color-white: #fffffa;
$color-black: #100007;

@import "~vue-material/dist/theme/engine";

@include md-register-theme("default", (
        primary: $color-primary,
        accent: $color-secondary
));

@import "~vue-material/dist/theme/all";
@import "~vue-material/dist/theme/default.css";


