$color-primary: #7b3df2;
$color-secondary: #f7c375;
$color-white: #fffffa;
$color-black: #100007;

@import "~vue-material/dist/theme/engine";

@include md-register-theme("default", (
        primary: $color-primary,
        accent: $color-secondary,
        background: $color-white,
        toolbarvariant: $color-secondary,
        text-primary-on-background-variant: $color-secondary
));

@import "~vue-material/dist/theme/all";
@import "~vue-material/dist/theme/default.css";


